{
  'rules': {
    'at-rule-empty-line-before': 'always',
    'at-rule-no-vendor-prefix': true,
    'block-no-empty': true,
    'color-hex-case': 'lower',
    'color-hex-length': 'short',
    'color-no-invalid-hex': true,
    'color-no-named': true,
    'declaration-block-no-single-line': true,
    'declaration-block-semicolon-newline-after': 'always',
    'declaration-no-important': true,
    'function-parentheses-space-inside': 'never',
    'indentation': [4],
    'max-empty-lines': [1],
    'media-feature-name-no-vendor-prefix': true,
    'number-leading-zero': 'never',
    'number-no-trailing-zeros': true,
    'number-zero-length-no-unit': true,
    'property-no-vendor-prefix': true,
    'rule-no-duplicate-properties': true,
    'rule-no-shorthand-property-overrides': true,
    'rule-non-nested-empty-line-before': 'always',
    'rule-properties-order': 'alphabetical',
    'selector-pseudo-element-colon-notation': 'double',
    'selector-no-attribute': true,
    'selector-no-id': true,
    'selector-no-type': true,
    'selector-no-universal': true,
    'string-quotes': 'single',
    'unit-whitelist': ['px', '%', 's', 'deg'],
    'value-no-vendor-prefix': true
  }
}
